

.SearchResult_Table{
   
    width : auto;
    height: auto;
    padding : 20px;
    border-collapse : separate;
    border-spacing: 20px;
    margin : 0 auto;

    display: flex;
}


    .SearchResult_Table_Row{
        width: 700px;
        height: 60px;
        border-radius: 4px;
        
        outline-width: 2px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        background: rgb(255, 255, 255);
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.733);
   
        display: flex;
        justify-content: left;
        align-items: center;
        
        outline-style: solid;
 }

 .SearchResult_Table_Row_page1{
    width: 700px;
    height: 45px;
    border-radius: 4px;
    outline-width: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #ff319f98 3%, #ff2c9d31 20% , #ff2c9d13 50% , white);
    margin-bottom: 12px;
    color: rgb(66, 0, 61);
    display: flex;
    justify-content: left;
    align-items: center;
    outline-style: solid;
}

 .SearchResult_Table_Row_page2{
    width: 700px;
    height: 45px;
    border-radius: 4px;
    outline-width: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #ff319f98 3%, #ff2c9d31 20% , #ff2c9d13 50% , white);
    margin-bottom: 12px;
    color: rgb(66, 0, 61);
    display: flex;
    justify-content: left;
    align-items: center;
    outline-style: solid;
}

 .SearchResult_Table_Row_page1:hover{
    width: 700px;
    height: 45px;
    border-radius: 4px;
    outline-width: 2px;
    outline-color: black;

    margin-bottom: 12px;
    color: rgb(0, 0, 0);
    outline-style: solid;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #cc006d;
    
    transition-property: background-color;
    transition-duration: 0.3s;


    a{
        color: rgb(255, 255, 255);
        text-shadow: 0 0 12px black;
    }

}

.SearchResult_Table_Row_page2:hover{
    width: 700px;
    height: 45px;
    border-radius: 4px;
    outline-width: 2px;
    outline-color: black;

    margin-bottom: 12px;
    color: rgb(0, 0, 0);
    outline-style: solid;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #cc006d;
    
    transition-property: background-color;
    transition-duration: 0.3s;


    a{
        color: rgb(255, 255, 255);
        text-shadow: 0 0 12px black;
    }
}


























.total1_image{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    


    margin-left:15px;


   
 
}   
















.cpulist_table_page1_base{

    background-color: transparent;
    font-size: 38;
    width : auto;
    height: auto;
    margin : 0 auto;


    padding : 10px;
    border:none;
    border-collapse : separate;
    border-spacing : 15px;
    text-align : center; 

    border-spacing: 0 20px;
    }
      






.SearchResult_Table_Row_base{
    width: auto;
    height: 30px;

 
    background-color: white;
    outline-width: 2px;
 
  

    color: rgb(0, 0, 0);
  

    display: flex;
    justify-content: left;
    align-items: center;
    

}









.total1_base{
    width: auto;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  

    
    outline-width: 2px;

}    

.total2_base{
    width: 80px;   
    height: 30px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    outline-style: solid;
    outline-width: 1px;

    padding-left: 5px;
    padding-right: 5px;
 
    

  
    color: rgba(0, 0, 0, 0.267);

    a{
        color: black;

        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size:18px;
        font-weight: 700;
  
    }
}



















.total1_type{
    width: auto;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    



   
 
}    





.total1_manf{
    width: 60px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

 
  

    margin: 4px;
    
 
}    

.total1_manf_image{

    width: 60px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    
  

    margin: 4px;
    margin-left: 50px;
    margin-right: 10px;
 
}   


.total1_cpuindevice{

    width: auto;
    height: 40px;

    display: flex;
    justify-content: left;
    align-items: center;

    
  
    margin: 4px;
    margin-left: 20px;

  

    
}    


.total1_name{
    width: auto;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;


   

    

    margin: 4px;
 
 
}    
















.total2_manf{
    width: auto;
    height: 20px;
    margin:5px;
  
    display: flex;
    justify-content: left;
    align-items: center; 

    
    color: red;
  

    a{
        color: black;

        display: flex;
        justify-content: center;
        align-items: center;
        
   
  
    } 
}




.total2_type{
    width: 90px;
    height: 20px;
   
  
    display: flex;
    justify-content: center;
    align-items: center; 

    
    color: red;

    a{
        color: black;

        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size:16px;
        font-weight: 700;
        text-shadow: 0 0 2px white;

  
  
    }
}

.total2_image{
width: 24px;
height: 24px;
border-radius: 6px;

 margin:5px;

 display: flex;
 justify-content: left;
 align-items: center; 

 
 background-color: white;
 color: rgb(0, 0, 0);

 outline-style: solid;
 outline-width: 2.4px;

 
}



.total2_cpuindevice{
    width: auto;
    height: 20px;
    
  
    display: flex;
    justify-content: left;
    align-items: center; 

    
    color: red;

    a{
        color: black;

        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size:15px;
        font-weight: 900;
        text-shadow: 0 0 2px white;
        margin-left: 18px;
  
    }
}




.total2_name{
  
    width: 230px;
    height: 20px;
    margin:5px;
  
    display: flex;
    justify-content: left;
    align-items: center; 

    
    color: red;

    a{
        color: black;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-size:26px;
        font-weight: 700;
        text-shadow: 0 0 2px white;

  
    }
}


.total2_manf_image{

 width: 50px;
 height: 50px;
 margin:5px;
 margin-top:7px;
 display: flex;
 justify-content: center;
 align-items: center; 



 
 color: red;


 a{
     color: black;

     display: flex;
     justify-content: center;
     align-items: center;
     
 
 } 
}
















.total1_name_device{
    width: 280px;
    height: 40px;


    display: flex;
    justify-content: left;
    align-items: center;

    
  
    margin: 4px;
 
 
}    







.total2_name_device{
    
   
    width: auto;
    height: 20px;
    margin:5px;
  
    display: flex;
    justify-content: left;
    align-items: center; 

    
    color: red;

    a{
        color: black;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-size:22px;
        font-weight: 700;
        text-shadow: 0 0 3px white;


  
    }
}



.total1_ct{
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    color: black;
}  

.total1_ct_2{
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    color: black;
    a{
        font-size: 24px;
        font-weight: 700;
    }
}   




.total2_c{
    margin-right:36px;
    width: auto;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: left; 
    color: black;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:20px;
        font-weight: 700;
        text-shadow: 0 0 3px white;
    }
}

.total2_t{
    
    width: auto;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: left; 
    color: black;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:20px;
        font-weight: 700;
        text-shadow: 0 0 3px white;
    }
}























        .Ghz_page1_total{

            width: 100px;
            height: 40px;
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            flex-direction: column;
        
           
        
            a{
                height: 20px;
            }
        }
        
                    .Ghz_page1_1_total{
                    
                        color: red;
                        width: 85%;
                        height: auto;
                        margin: 4px;
        
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        a{
                            color: black;
                            height: 18px;
                        }
                    }
                    .Ghz_page1_2_total{
                     
                        color: red;
                        width: 85%;
                        height: auto;  
                        margin: 4px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        a{
                            color: black;
                            height: 18px;
                        }
                    }
         


