<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/index_body_index.css}">
<link rel="stylesheet" th:href="@{/css/main_header.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
<title>mdi-index.html</title>
</head>
<body>
	<!-- 헤더 포함 -->
  <div th:replace="fragments/main-header :: header"></div>

	<div class="ground">
		<!--div class="ground"-->
		<div class="index_content_line">
			<!--div class="index_content_line"-->
			<div class="index_content" style="margin-top: -30px;">
				<!--div class="index_content"-->

				<div class="part1">
					<!--div class="part1"-->

					<div class="Main_Title">
						<div class="tool1_title">
							<a th:text="${errorMessage}"></a>
						</div>
						<div class="tool1_semi">
							<a></a>
						</div>
					</div>

				</div>
				<!--div class="part1"-->

			</div>
			<!--div class="index_content"-->
		</div>
		<!--div class="index_content_line"-->
	</div>
	<!--div class="ground"-->
</body>

<script src="/js/auth.js"></script>














</html>