<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/main_header.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
<link rel="stylesheet" th:href="@{/css/page1/index_body.css}">
<link rel="stylesheet" th:href="@{/css/page1//page1_body.css}">
<link rel="stylesheet" th:href="@{/css/page1//page0_body_total.css}">
<title>cpu_list2.html</title>
</head>
<body>
	<main>
		<div class="ground"><!--div class="ground"-->
<div class="index_content"><!--div class="index_content"-->
<div class="index_button_line1" style="margin-top:30px;"><!--div class="index_button_line1"-->
<div class="button_content1"><!--div class="button_content1"-->



<div class="Module_Layout_1"><!--div class="Module_Layout_1"-->
<div class="Module_Layout_1_1"><!--div class="Module_Layout_1_1"-->

    <div class="Module_Layout_1_1_1">
        <div class="Module_Layout_1_1_1_1">
            <div class="Module_Layout_1_1_1_1_0"><a style="font-size:18px;">P1</a></div>
            <div class="Module_Layout_1_1_1_1_1"><a class = "Module_Layout_1_1_1_1_1_0_page">프로세서 목록</a></div>
            <div class="Module_Layout_1_1_1_1_2_back" onclick="history.back()"><a class = "Module_Layout_1_1_1_1_1_0">뒤로가기</a></div>
        </div>
    </div>

<div class="Module_Layout_1_1_2"><!--div class="Module_Layout_1_1_2"-->
<div class="Module_Layout_1_1_2_1"><!--div class="Module_Layout_1_1_2_1"-->

        <div class="Module_Layout_1_1_2_1_1" style="margin-left : 10px; margin-bottom:1px; margin-top:25px;"> 
        <a class="mdi_a" style="font-size : 30px !important;">MobileDeviceInfo</a><a style="font-size : 24px !important;">에서 제공하는</a><a class="mdi_a">프로세서 탐색</a><a style="font-size : 24px !important;">을 시작하세요.</a>
        </div>

        <div class="Module_Layout_1_1_2_1_1" style="margin-left : 40px; margin-top: 10px;">
        <a>프로세서의 코어 분포를 확인하거나, 목록에서 직접 탐색할 수 있습니다.</a>
        </div>

<div class="Module_Layout_1_1_2_1_2"><!--div class="Module_Layout_1_1_2_1_2"-->
<div class="Module_Layout_1_1_2_1_2_1"><!--div class="Module_Layout_1_1_2_1_2_1"-->

<div class="Module1"><!--모듈1-Start-->

<!--내용-->




<div style="margin-left:40px;">

</div>




<table class="cpulist_table_page1" >

      

<tr th:each="cpu : ${cpus}" class="SearchResult_Table_Row_page1">   

    <td>
        <div class="total1_image">
            <div class="Module_Layout_1_1_1_1_0" style="margin-left:20px;"><a style="font-size:14px; color:white; width: 40px;">Proc</a></div>
        </div>
    </td>


    <td>
        <div class="total1_type">
            <div class="total2_type"><a>프로세서</a></div>
        </div>
    </td>


    <td>
        <div class="total1_manf_image">
            <div class="total2_manf_image"></div>
        </div>
    </td>

    <td>
        <div class="total1_name">
            <div class="total2_name"><a th:href="@{'/cpus/' + ${cpu.idCpu}}" th:text="${cpu.nameCpu}"></a></div>
        </div>
    </td>

    <td style="margin-left:-15px">
        <div class="total1_c">
            <div class="total2_c"><a th:text="${cpu.coreCpu}"></a><a style="font-size:16px; margin-left:3px; margin-top:3px;">코어</a></div>
        </div>
    </td>

    <td>
        <div class="total1_t">
            <div class="total2_t"><a style="font-size:16px; margin-right:5px; margin-left:-12px;">최고</a><a th:text="${cpu.maxghzCpu}"></a><a style="font-size:16px; margin-left:5px;">Ghz</a></div>
        </div>
    </td>

</tr>

</table>
<!--내용-->

</div><!--모듈1-End-->

</div><!--div class="Module_Layout_1_1_2_1_2_1"-->
</div><!--div class="Module_Layout_1_1_2_1_2"-->
</div><!--div class="Module_Layout_1_1_2_1"-->
</div><!--div class="Module_Layout_1_1_2"-->
</div><!--div class="Module_Layout_1_1"-->
</div><!--div class="Module_Layout_1"-->

</div><!--div class="button_content1"-->
</div><!--div class="index_button_line1"-->
</div><!--div class="index_content"-->
</div><!--div class="ground"-->


	</main>
</body>
</html>