<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/main_header.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
<link rel="stylesheet" th:href="@{/css/page2/index_body.css}">
<link rel="stylesheet" th:href="@{/css/page2/page2_body.css}">
<link rel="stylesheet" th:href="@{/css/page2/page0_body_total.css}">
<title>device_list2.html</title>
</head>
<body>
	<main>
		<div class="ground"><!--div class="ground"-->
<div class="index_content"><!--div class="index_content"-->
<div class="index_button_line1" style="margin-top:30px;"><!--div class="index_button_line1"-->
<div class="button_content1"><!--div class="button_content1"-->



<div class="Module_Layout_1"><!--div class="Module_Layout_1"-->
<div class="Module_Layout_1_1"><!--div class="Module_Layout_1_1"-->

    <div class="Module_Layout_1_1_1">
        <div class="Module_Layout_1_1_1_1">
            <div class="Module_Layout_1_1_1_1_0"><a style="font-size:18px;">D1</a></div>
            <div class="Module_Layout_1_1_1_1_1"><a class = "Module_Layout_1_1_1_1_1_0_page">디바이스 목록</a></div>
            <div class="Module_Layout_1_1_1_1_2_back" onclick="history.back()"><a class = "Module_Layout_1_1_1_1_1_0">뒤로가기</a></div>
        </div>
    </div>

<div class="Module_Layout_1_1_2"><!--div class="Module_Layout_1_1_2"-->
<div class="Module_Layout_1_1_2_1"><!--div class="Module_Layout_1_1_2_1"-->


        <div class="Module_Layout_1_1_2_1_1" style="margin-left : 10px; margin-bottom:1px; margin-top:25px;"> 
        <a class="mdi_a" style="font-size : 30px !important;">MobileDeviceInfo</a><a style="font-size : 24px !important;">에서 제공하는</a><a class="mdi_a">디바이스 탐색</a><a style="font-size : 24px !important;">을 시작하세요.</a>
        </div>

        <div class="Module_Layout_1_1_2_1_1" style="margin-left : 40px; margin-top: 10px;">
        <a>디바이스의 제조사 분포를 확인하거나, 목록에서 직접 탐색할 수 있습니다.</a>
        </div>



<div class="Module_Layout_1_1_2_1_2"><!--div class="Module_Layout_1_1_2_1_2"-->
<div class="Module_Layout_1_1_2_1_2_1"><!--div class="Module_Layout_1_1_2_1_2_1"-->

<div class="Module1"><!--모듈1-Start-->

<!--내용-->

<div style="margin-left:40px;">
</div>

<table class="cpulist_table_page2">
    
<tr th:each="device : ${devices}" class="SearchResult_Table_Row_page2">    

    <td>
        <div class="total1_image">
            <div class="Module_Layout_1_1_1_1_0" style="margin-left:20px;"><a style="font-size:14px; color:white; width: 40px;">Dvic</a></div>
        </div>
    </td>

    <td>
        <div class="total1_type">
            <div class="total2_type"><a>디바이스</a></div>
        </div>
    </td>

    <td>
        <div class="total1_manf_image">
            <div class="total2_manf_image"></div>
        </div>
    </td>

    <td>
        <div class="total1_name_device">
            <div class="total2_name_device"><a th:href="@{'/devices/' + ${device.idDevice}}" th:text="${device.nameDevice}"></a></div>
        </div>
    </td>
   
    <td style="margin-left:-30px">
        <div class="total1_cpuindevice">
            <div class="total2_cpuindevice"></div>
        </div>
    </td>

</tr>

</table>
<!--내용-->

</div><!--모듈1-End-->

</div><!--div class="Module_Layout_1_1_2_1_2_1"-->
</div><!--div class="Module_Layout_1_1_2_1_2"-->
</div><!--div class="Module_Layout_1_1_2_1"-->
</div><!--div class="Module_Layout_1_1_2"-->
</div><!--div class="Module_Layout_1_1"-->
</div><!--div class="Module_Layout_1"-->

</div><!--div class="button_content1"-->
</div><!--div class="index_button_line1"-->
</div><!--div class="index_content"-->
</div><!--div class="ground"-->


	</main>
</body>
</html>